*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Ignore minified upstreams
vendor/assets/javascripts/jquery.countdown.min.js
vendor/assets/javascripts/jquery.plugin.min.js
